html {
    scroll-behavior: smooth;
    scroll-padding: 120px;

}

body{
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: #829AC9;
}


img {
    max-width: 100%;
}

div {
    margin: 0 auto;
}

header nav {
    justify-content: center;
    display: flex;
}

footer nav{
    background-color: #477CE6;
    gap: 19px;
    height: 79px;   
    justify-content: center;
    display: flex;
    padding: 20px 105px;
    align-items: center;
    color: #fff;
}

header .prova {
    width: 100%;
    margin: 0;
    position: fixed;
    background-color: #477CE6;
    gap: 19px;
    height: 79px;   
    justify-content: center;
    display: flex;
    padding: 20px 105px;
    align-items: center;
    color: #fff;
}

footer nav{
    font-weight: medium;
}

 footer a:link, footer a:visited {
    font-size: 24px;
    text-decoration: underline;
    color: #fff;
    background-color: transparent;
}
footer a:hover, footer a:active {
    font-size: 24px;
    text-decoration: underline;
    color: #aaafff;
}

header nav a{
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
}

header nav a:hover {
    text-decoration-line: underline;
    color: #aaafff;
}

#rectangle {
    width: 3px;
    height: 37px;
    background: #fff;
}

.hero img {
    margin-bottom: 32px;
}

.hero .foto1 {
    padding-top: 119px;
}


.hero div, .finale div {
    max-width: 1000px;
    margin: 0 auto;
}

.hero .finalefin, .finale .finalefin {
    max-width: 800px;
}

.hero h1, .finale h2 {
    margin: 0;
    margin-bottom: 24px;
    font-size: 72px;
    font-weight: 900;
    color: #fff;
    
}

.hero p {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}

.finale p {
    margin-bottom: 184px;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}

.immaginetesto {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 29px;
}

.primo h2, .secondo h2, .terzo h2{
    margin: 0;
    margin-bottom: 32px;
    font-size: 72px;
    font-weight: 900;
    color: #fff;
}

.primo div.procodoi, .secondo div.procodoi, .terzo div.procodoi {
    max-width: 1000px;
    margin: 0, auto;
}

.parteuno{
    padding-bottom: 40px;
}

.partedue{
    padding-bottom: 88px;
}

.primo p, .secondo p, .terzo p{
    margin: 0;
    font-size: 38px;
    color: #fff;
}

.terzo .procodoi .immaginetesto .immagine .imgsup {
    margin-bottom: 25px;
}

@media (max-width: 600px) {

    html {
        scroll-padding: 45px;
    }

    header div.prova , footer nav{
        gap: 10px;
        height: 45px;   
        padding: 0px 50px;
        color: #fff;
    }
    
    footer a:link, footer a:visited {
        font-size: 14px;
    }
    footer a:hover, footer a:active {
        font-size: 14px;
    }

    header nav a{
        font-size: 10px;
        font-weight: bold;
    }

    #rectangle {
        height: 25px;
    }
    
    .hero {
        margin-bottom: 100px;
    }
    .hero img {
        margin-bottom: 16px;
    }

    .hero .foto1 {
        padding-top: 43px;
    }

    .hero h1, .finale h2 {
        margin: 0;
        margin-bottom: 12px;
        font-size: 36px;     
    }
    
    .hero p {
        margin-bottom: 20px;
        font-size: 16px;
    }
    
    .finale p {
        margin-bottom: 92px;
        font-size: 16px;
    }
    
    .immaginetesto {
        flex-direction: column-reverse;
      display: grid;
      grid-template-columns: 1fr;
    }
    
    .primo h2, .secondo h2, .terzo h2{
        margin: 0;
        margin-bottom: 16px;
        font-size: 36px;
    }

    .immaginetesto .immagine, .immaginetesto .testotesto {
        width: 100%;
    }

    .terzo .procodoi .immaginetesto .immagine {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .parteuno{
        padding-bottom: 20px;
    }
    
    .partedue{
        padding-bottom: 44px;
    }
    
    .primo p, .secondo p, .terzo p{
        font-size: 19px;
    }
    
    .terzo .procodoi .immaginetesto .immagine .imgsup {
        margin-bottom: 12px;
    }

    .finale {
        margin-top: 100px;
    }

}